:root {
	--background-tertiary: #444557;

	--win-titleBar-backgroundColor: #11111B;
	--win-titleButton-color: #B9BBBE;
	--win-titleButton-hoverColor: #272733;

    --win-resizeBar-thickness: 3px;
    --win-resizeBar-touchThickness: 22px;

    --win-desktopApp-hoverColor: rgba(127, 173, 245, 0.3);
    --win-desktopApp-tooltip-background: #272734;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Nunito';
}

div {
    display: block;
}

html.disable-high-contrast * {
    forced-color-adjust: none;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
}

iframe {
	border: 0;
}

.muffins-flex {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.muffins-alignCenter {
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.muffins-grow {
	flex-grow: 1;
}

.muffins-justifyStart {
	-webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.muffins-justifyEnd {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.muffins-justifySpaceBetween {
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.muffins-justifyCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.muffins-directionReversed {
	-webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.muffins-directionRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.muffins-directionColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.muffins-alignStretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.muffins-alignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.muffins-alignEnd {
    margin-top: auto;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.win-appMount {
	position: absolute;
	overflow: hidden;

	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.win-appMount, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}

.win-container, .win-appMount, body, html {
    height: 100%;
    width: 100%;
}

.win-background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.win-desktopBackground {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.win-titleBar {
	height: 22px;
    background-color: var(--win-titleBar-backgroundColor);

    z-index: 1000;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.win-titleButton {
	cursor: pointer;

	position: relative;
	width: 28px;
	height: 22px;
	color: var(--win-titleButton-color);

    pointer-events: auto;
}
.win-titleButton:hover {
    background-color: var(--win-titleButton-hoverColor);
}

.win-titleText {
    margin-left: 10px;
    color: white;
}

.win-window {
	position:absolute; 

	top: 100px; 
	left: 100px; 
	width:1200px; 
	height:700px;
}

.win-appCover {
	display:none; 
	position:absolute; 
	z-index: 0;
}

.win-resizeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
}

.win-resize {
    background-color: transparent;
    z-index: 0;
}

.win-resize-width {
    height: 100%;
    width: var(--win-resizeBar-thickness);

    cursor: ew-resize;
}

.win-resize-height {
    height: var(--win-resizeBar-thickness);
    width: 100%;

    cursor: ns-resize;
}

.win-resizeCorner {
    width: var(--win-resizeBar-thickness);
    height: var(--win-resizeBar-thickness);

    background-color: transparent;

    z-index:0;
}

.win-resizeCornerTouch {
    width: var(--win-resizeBar-touchThickness);
    height: var(--win-resizeBar-touchThickness);

    background-color: transparent;

    z-index:0;
}
.win-resize-fill {
    background-color: var(--win-titleButton-color)
}

.win-resize-cornerNESW {
    cursor: nesw-resize;
}

.win-resize-cornerNWSE {
    cursor: nwse-resize;
}

.win-desktopAppMount {
    position:absolute; 

    top: 100px; 
    left: 100px; 
    width: 60px; 
    height: 70px;

    background-color: var(--background-tertiary);
}

.win-desktopApp {
    position: absolute;
    top: 0px;
    left: 0px;
}
.win-desktopApp:hover {
    background-color: var(--win-desktopApp-hoverColor);
}

.win-desktopApp-cover {
    position:absolute; 

    z-index: 0;

    top: 0px; 
    left: 0px; 
    width: 100%;
    height: 100%;

    display: none;
}

.win-desktopApp-icon {
    height: 100%;
    margin: 4px;

    background-image: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.win-desktopApp-iconAnim {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.win-desktopApp-text {
    width: 100%;
    height: 15px;

    color: white;
    font-size: 14px;
}

.win-tooltip .win-desktopApp-tooltip-top {
    visibility: hidden;
    width: 120px;
    background-color: var(--win-desktopApp-tooltip-background);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.win-tooltip .win-desktopApp-tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--win-desktopApp-tooltip-background) transparent transparent transparent;
}

.win-tooltip .win-desktopApp-tooltip-bottom {
    visibility: hidden;
    width: 120px;
    background-color: var(--win-desktopApp-tooltip-background);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

.win-tooltip .win-desktopApp-tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--win-desktopApp-tooltip-background) transparent;
}

.win-tooltip:hover .win-desktopApp-tooltip-top {
  visibility: visible;
}

.win-tooltip:hover .win-desktopApp-tooltip-bottom {
  visibility: visible;
}