h1 {
    color: rgb(18, 21, 218);
  }
p, li {
    
}
li{
    font-weight: bold;
    list-style-type: georgian;
}

body {
    font-family: 'Trebuchet MS';
    font-size: medium;
	background-color: powderblue;

}
hr {
  border-color: black;
}